<div class="main_wrapper">
  <button class="btn" pRipple (click)="navigateBack()">
    <i class="bi bi-arrow-left" style="margin-right: 1rem;"></i>
    Voltar
  </button>
  <div style="padding: 1rem 0">
    <div class="card_row">
      <div class="card filled">
        <div class="info_card_header">
          <span>Linha</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>{{selectedBusRoute.line}}</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Ponto Inicial</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>{{addresses.firstAddress.neighborhood}}</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Ponto Final</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>{{addresses.secondAddress.busStop}}</span>
        </div>
      </div>
    </div>
    <div>
      <app-bus-path></app-bus-path>
    </div>
    <div class="card_row">
      <div class="card filled">
        <div class="info_card_header">
          <span>O ônibus chega em</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>{{selectedBusRoute.timeToArrive | msToTime}}</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Ainda Restam</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>{{selectedBusRoute.totalSeats - selectedBusRoute.personQty}} Assentos</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Aguarde no Ponto</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>{{addresses.firstAddress.busStop}}</span>
        </div>
      </div>
    </div>
    <div style="margin-top: 1rem">
      <button class="btn primary-b large w_100 elevated" pRipple>Embarquei no Ônibus</button>
    </div>
  </div>
  <div style="padding: 1rem 0">
    <div>
      <h5>Rotas Alternativas</h5>
    </div>
    <div>
      <div class="card elevation-p3 {{route.traffic}}" style="margin: 0.75rem 0" *ngFor="let route of busRoutes"
           (click)="selectBusRoute(route)">
        <div class="card-content">
          <div class="information_row">
            <div class="information_item">
              <span>Linha: {{route.line}}</span>
              <span>{{route.totalSeats - route.personQty}} Assentos</span>
            </div>
            <div class="information_item">
              <span>Chegara em {{route.timeToArrive | msToTime}}</span>
              <span *ngIf="route.traffic === 'GOOD'">Tráfego Bom</span>
              <span *ngIf="route.traffic === 'MEDIUM'">Tráfego Moderado</span>
              <span *ngIf="route.traffic === 'BAD'">Tráfego Ruim</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
