<div class="main_wrapper">
  <button class="btn" pRipple>
    <i class="bi bi-arrow-left" style="margin-right: 1rem;"></i>
    Voltar
  </button>
  <div>
    <div class="card_row">
      <div class="card filled">
        <div class="info_card_header">
          <span>Linha</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>NOME LINHA</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Ponto Inicial</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>NOME LINHA</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Ponto Final</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>NOME LINHA</span>
        </div>
      </div>
    </div>
    <div>
      <!--GRAPH-->
    </div>
    <div class="card_row">
      <div class="card filled">
        <div class="info_card_header">
          <span>O ônibus chega em</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>00h 00m 10s</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Ainda Restam</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>15 Assentos</span>
        </div>
      </div>
      <div class="card filled">
        <div class="info_card_header">
          <span>Aguarde no Ponto</span>
        </div>
        <span>ICON</span>
        <div class="info_card_footer">
          <span>NOME PONTO</span>
        </div>
      </div>
    </div>
    <div style="margin-top: 1rem">
      <button class="btn primary-b large w_100 elevated" pRipple>Embarquei no Ônibus</button>
    </div>
  </div>
  <div style="padding: 1rem 0">
    <div>
      <h5>Rotas Alternativas</h5>
    </div>
    <div>
      <div class="card elevation-p3" style="margin: 0.75rem 0">
        <div class="card-content">
          <div>
            <span>Linha: X</span>
            <span>10 Assentos</span>
          </div>
          <div>
            <span>Chegara em 00h 00m 12s</span>
            <span>Tráfego Moderado</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
