.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.card {
  width: 500px;
}

.sign_up_container {
  margin-top: 1rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sign_up_container span {
  margin-right: 1rem;
}
