<div class="main_container">
  <div class="card">
    <div class="card-header justify_between">
      <button class="btn flat" [routerLink]="['/']" pRipple>
        <i class="bi bi-arrow-left"></i>
      </button>
      <h5>Entrar na minha conta</h5>
      <div></div>
    </div>
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="card-content d_flex flex_column">
        <div>
          <p-fieldset label="Usuário ou Email">
            <input type="text" placeholder="Digite..." formControlName="userName">
          </p-fieldset>
          <p-fieldset label="Senha">
            <input type="password" placeholder="Digite..." autocomplete="new-password" formControlName="passWord">
          </p-fieldset>
        </div>
        <button class="btn primary elevated" pRipple type="submit">
          Entrar
        </button>
      </div>
    </form>
    <div class="sign_up_container">
      <span>Não possuí cadastro?</span>
      <button class="btn secondary small" [routerLink]="['/auth/register']" pRipple>Cadastre-se</button>
    </div>
  </div>

</div>

